{% extends "base.html" %}

{% block content %}
<div class="login">
	<form method="post" action="{{ baseUrl }}password">
		<label>
			<span>Password: </span>
			<input type="password" name="password"/>
		</label>

		<label>
			<span>Password check: </span>
			<input type="password" name="password-check"/>
		</label>

		<br/>

		{% if (invalid) %}
		<p class="error">Invalid password or password check does not match. Password must have at least 5 characters.</p>
		<br/>
		{% endif %}

		<input type="submit" value="Change password"/>
	</form>
</div>
{% endblock %}